<img src=<%= @employee.img_url %> style="float:left;width: 300px; height: 250px;"/>

<center><h1><%= "#{@employee.first_name} #{@employee.last_name}"  %></h1>
<h4>Aka "<%= @employee.alias %>"</h4>
<h4>Title: <%= @employee.title %></h4>    
<h4>Office: <%= @employee.office %></h4>
<h4>Dog: <%= @employee.dog.name %></h4></center>

