<li>Employee Name: <%= @employee.first_name %> <%= @employee.last_name %></li>

<li>Alias: <%= @employee.alias %></li><br>
<li>Title: <%= @employee.title %></li><br>
<li>Office: <%= @employee.office %></li><br>
<li>Dogs: <%= @employee.dog.name %></li><br>
<img src=<%= @employee.img_url %>>
